.constructor-informations{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.constructor-image-info {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: 13px 0px;
}

.constructor-image-container {
  text-align: center;
}
  
.constructor-info {
  font-size: 14px;
  font-weight: bold;
  color: #e1e1e1 !important;
}

.constructor-teams {
  font-size: 14px;
  font-weight: bold;
  color: #e1e1e1;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.constructor-flag {
  width: auto;
  height: 15px;
  align-self: center;
}

.painel-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.info-section{
  margin-top: 0 !important;
}

/*se a lista das equipes for com as imagens das equipes usar essa estilização*/
/* .pilot-teams-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
} */

/*se a lista das equipes for com os nomes das equipes usar essa estilização*/
.constructor-teams-list-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
}

.constructor-team-image-div{
  margin-right: 15px;
}

.constructor-team-image{
  width: 68px;
  height: auto;
  border-radius: 15px;
}

.charts{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.constructor-section{
background-color: #404040;
border-radius: 8px;
display: flex;
justify-content: center;
padding: 9px;
}